/********************************
//////////////////////////////////////////////////////////
//                                                      //
//  Template Name: Repoogle                             //
//  Template Version: 2.0                               //
//  Developer: Syed Faizan Ali                          //
//  Developer URL: https://www.upwork.com/fl/syedspeaks //
//                                                      //
//////////////////////////////////////////////////////////
********************************/

body {
     margin: 0;
     padding: 0;
     font-family: lato, sans-serif;
     color: #111;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#userlogo * {
    box-sizing: initial;
    -moz-box-sizing: initial;
    -webkit-box-sizing: initial;
}

 a {
     color: #399ef0;
     text-decoration: none;
}
 h1,h2,h3,h4,h5 {
     font-family: roboto;
}
 :focus{
     outline: none;
}
 .left {
     float: left;
}
 .right {
     float: right;
}
 .ads-300 {
     margin: 10px 0px;
     display: inline-block;
}
 .wrap {
     width: 1270px;
     margin: auto;
}

/********************************
/////////////////////////////////
Header 
/////////////////////////////////
********************************/

 header {
     float: left;
     width: 100%;
     background: #fff;
     -webkit-box-shadow: 0px 2px 2px 0px #adadad;
     -moz-box-shadow: 0px 2px 2px 0px #adadad;
     box-shadow: 0px 2px 2px 0px #adadad;
     padding: 10px 0px;
}
 header h1 {
     margin: 0;
     padding: 0;
     float: left;
     text-indent: -9999px;
     width: 170px;
     padding: 0;
}
 header .site-title > a {
     background-position: center !important;
     background-size: contain !important;
     float: left;
     min-height: 62px;
     width: 100%;
}
 header .site-title > a {
     background: url(../images/logo.png) no-repeat;
}
 header .logo-description {
     margin: 11px 0px 11px 9px;
     display: inline-block;
     border-left: 1px solid #d2d2d2;
     padding: 10px 0px 10px 12px;
     font-weight: bold;
}
 header .logo {
     float: left;
}
 header .menu {
     float: right;
     margin-top: 8px;
}
 header .menu ul {
     margin: 0;
     padding: 0;
}
 header .dropbtn {
     font-size: 40px;
     cursor: pointer;
     border: 0;
     background: none;
}
 .header dropdown {
     position: relative;
     display: inline-block;
}
 header .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     overflow: auto;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}
 header .dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
}
 header .menu.show ul {
     display: block;
     margin-left:3px;
}
 header .dropdown-content a:hover {
     background: #dcdcdc;
}

header .menu.show ul {
    display: block;
    margin-left: -115px;
}

/********************************
/////////////////////////////////
Main Container 
/////////////////////////////////
********************************/
 .main-container {
     float: left;
     width: 100%;
     background: #e6e6e6;
     margin-top: 3px;
     padding: 40px 0px 60px 0px;
}
 .search-bar {
     width: 900px;
     margin: auto;
}
 .search-bar input {
     width: 94.2%;
     padding: 14px;
     -webkit-box-shadow: 0px 2px 2px 0px #adadad;
     -moz-box-shadow: 0px 2px 2px 0px #adadad;
     box-shadow: 0px 2px 4px 0px #adadad;
     border: 1px solid #d2d2d2;
     display: inline-block;
     font-size: 18px;
     font-family: lato;
	 height:54.5px;
	 
}
 .search-bar form {
	width: 100%;
	margin: 0px 0px 23px 0px;
}

.search-form {
    display: inline-flex;
    width: 100%;
}
 .search-bar button {
     background: #399ff0;
     padding: 16.5px;
     border: 0;
     float: right;
     margin-left: -2px;
	 -webkit-box-shadow: 0px 2px 2px 0px #adadad;
    -moz-box-shadow: 0px 2px 2px 0px #adadad;
    box-shadow: 0px 2px 4px 0px #adadad;
}
 .search-bar button:hover {
     background: #25a879;
}
 .search-bar button i {
     color: #fff;
     font-size: 20px;
}

 .placeholder {
    background: #fff;
    border: 1px solid #d2d2d2;
    height: 52px;
}

.search-bar .captcha {
    width: 300px;
    margin: auto;
    float: none;
    margin-top: 20px;
    margin-bottom: 40px;
}

 .register-bar {
     float: left;
     width: 100%;
     background: #fff;
     padding: 10px;
}
 .register-bar h3 {
     float: left;
     margin: 0;
     padding: 0;
     font-size: 27px;
     font-weight: 500;
     line-height: 40px;
}
 .register-bar .button {
     float: right;
}

.heading-wrapper {
    position: relative;
}


.export-page {
    float: right;
    border: 0;
    font-family: lato;
    cursor: pointer;
    background: #399ef0;
    color: #fff;
    padding: 10px;
    display: inline-block;
    font-size: 18px;
	    margin: 11px;
}

.export-page:hover {
    background: #25a879;
}


.export-report {
    width: 100%;
    float: left;
    margin: 50px 0px 0px 0px;
    background: #fff;
}

.export-report h2:after {
    display: none!important;
}

.export-report h2 {
    float: left;
    margin: 16px 0px!important;
    float: left;
    padding: 0;
    font-size: 27px!important;
    font-weight: 500;
    padding-left: 10px;
}

.export-report .captcha {
    float: right;
    min-width: 300px;
    margin: 5px 30px 5px 0px;
}


/********************************
/////////////////////////////////
Repoogle Form Login/Register
/////////////////////////////////
********************************/

.repoogle-form {
    width: 500px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border: 1px solid #d2d2d2;
}

.panel-heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 500;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 29px;
}

.form-group input {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    font-family: lato;
    font-size: 14px;
}

.checkbox input {
    width: auto;
}

.form-group label {
    margin-bottom: 10px;
    display: inline-block;
    font-weight: bold;
}

.checkbox label {
    font-weight: 400;
    font-size: 14px;
}

.form-group .btn-primary {
    background: #3ca0ef;
    color: #fff;
    border: 0;
    padding: 12px 29px;
    font-family: lato;
    font-size: 16px;
}

.form-group a.btn.btn-link {
    float: right;
    margin: 12px 0px;
}

.form-group .help-block {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    color: red;
}

/********************************
/////////////////////////////////
Substitute Container
/////////////////////////////////
********************************/
 

 
 .sub-container {
     float: left;
     width: 100%;
     padding: 40px 0px;
}
 main.main-content {
     width: 62%;
     float: left;
}
 aside.right-sidebar {
     float: right;
     width: 22%;
}
 .widget {
     float: left;
     margin-bottom: 40px;
}
 aside.right-sidebar .widget ul {
     margin: 0;
     padding: 0;
}
 aside.right-sidebar .widget ul li {
     display: block;
     margin-bottom: 10px;
}
 .register-profile {
     background: #25a87a;
     padding: 13px 24px;
     border: 3px solid #1a825d;
}
 .register-profile h3 {
     text-align: center;
     color: #06fea8;
     font-size: 30px;
     text-transform: capitalize;
     margin: 12px 0px;
     line-height: 38px;
}
 .register-profile i {
     text-align: center;
     width: 100%;
     font-size: 90px;
     color: #06fea8;
}
 .register-profile a {
     text-transform: uppercase;
     color: #fff;
     font-weight: 900;
     font-size: 20px;
     text-align: center;
     width: 100%;
     display: inline-block;
     margin: 10px 0px;
}
 main.main-content article p {
     line-height: 28px;
     font-size: 16px;
}
 span.button a {
     background: #399ef0;
     color: #fff;
     padding: 10px;
     display: inline-block;
     font-size: 18px;
}
 span.button a:hover {
     background: #25a879;
}
 span.button a {
     color: #fff;
     text-decoration: none;
}

.sidebar-button {
    width: 100%;
    background: #eb5416;
    display: inline-block;
    border: 0;
    color: #fff;
    padding: 14px;
    font-size: 18px;
    font-family: lato;
    margin-bottom: 20px;
	cursor: pointer;
}

.sidebar-button i {
    margin-right: 9px;
    display: inline-block;
    font-size: 22px;
}

.sidebar-button:hover {
    background: #111;
}

/********************************
/////////////////////////////////
Footer
/////////////////////////////////
********************************/
 footer {
     float: left;
     width: 100%;
     background: #323c42;
     color: #afb9bd;
     padding: 25px 0px;
}
 footer ul {
     margin: 0;
     padding: 0;
}
 footer ul li {
     display: inline-block;
     margin-left: 10px;
}
 footer ul li a {
     color: #afb9bd;
}
 footer ul li a:hover {
     color: #fff;
}
 footer p {
     margin: 0;
}


/********************************
/////////////////////////////////
Responsive
/////////////////////////////////
********************************/

@media only screen and (max-width: 1320px) {
     .wrap {
         width: 980px;
    }
     aside.right-sidebar {
         float: right;
         width: 30%;
    }
}
 @media only screen and (max-width: 1020px) {
     .search-bar button {
         width: 8%;
         padding: 16.5px 0px;
    }
     .wrap {
         width: 800px;
    }
     .search-bar {
         width: 100%;
         margin: auto;
    }
     .search-bar input {
         width: 92.2%;
    }
}
 @media only screen and (max-width: 820px) {
     .wrap {
         width: 750px;
    }
	
		
	.export-report h2 {
		width: 100%;
	}

	.export-report button {
		display: inline-block;
		float: none;
	}

	.export-report .captcha {
		float: none;
		margin: auto;
		width: 300px;
		padding-bottom: 20px;
	}
}
 @media only screen and (max-width: 760px) {
     .wrap {
         width: 550px;
    }
	
}
 @media only screen and (max-width: 560px) {
     .wrap {
         width: 450px;
    }
     main.main-content {
         width: 100%;
    }
     aside.right-sidebar {
         width: 100%;
    }
     .left {
         width: 100%;
         text-align: center;
    }
     .right {
         width: 100%;
         margin-top: 10px;
    }
	
	.repoogle-form {
		width: 100%;
		padding: 15px;
	}
}
 @media only screen and (max-width: 460px) {
     .wrap {
         width: 300px;
    }
     header .logo {
         width: 70%;
    }
     header .logo-description {
         margin: 0;
         border: 0;
         padding: 0;
         display: none;
    }
     .search-bar input {
         width: 100%;
    }
     .search-bar button {
         width: 100%;
    }
	footer ul li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
	}
	.register-bar .button {
    width: 100%;
	text-align: center;
    margin-top: 10px;
	}

	.register-bar h3 {
    text-align: center;
	}
	.ads-300 img {
    max-width: 100%;
	}
	.search-bar form {
    display: inline-block;
}

}

@media only screen and (max-width: 330px) {
	.wrap {
         width: 90%;
    }
	
	.username-logo ul li {
    margin-rigth:0;
	}
	
	.export-report .captcha {
		float: none;
		margin: auto;
		width: 100%;
		min-width: 100%;
		padding-bottom: 20px;
	}
	
	.search-bar .captcha{
		width: 100%;
		min-width: 100%;
	}
	
}
 